<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Shared server</title>

<!-- CSS (load bootstrap ) -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
