<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <title>Shared server web client</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <link rel="stylesheet" href="css/bootstrap.min.css">

  <link href="css/sticky-footer.css" rel="stylesheet">

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/my_controller.js"></script>

</head>
<body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Interfaz web</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="listUsers.html">Listar usuarios</a></li>
              <li><a href="listInterests.html">Listar intereses</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agregar <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="addUser.html">Usuario</a></li>
                  <li role="separator" class="divider"></li>
                  <!--<li class="dropdown-header">Intereses</li>-->
                  <li><a href="addInterest.html">Interes</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Editar usuario <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="updateUser.html">Modificar usuario</a></li>
                  <li><a href="updatePhoto.html">Actualizar foto perfil</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="deleteUser.html">Eliminar usuario</a></li>
                </ul>
              </li>
              <li><a href="getUser.html">Buscar usuario</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </header>

  <div class="container">
    <div ng-app="myApp" ng-controller="myCtrl">
      <h1>Buscar usuario</h1>
      <form>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="getUser()">Buscar</button>
            </span>
            <input type="number" min="1" class="form-control" placeholder="#ID usuario" ng-model="id_user">
          </div>
        </div>

        <div class="table-group" ng-show="showMe_success">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <thead>
                <tr class="info">
                  <th class="text-center">#ID</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Alias</th>
                  <th class="text-center">Edad</th>
                  <th class="text-center">Sexo</th>
                  <th class="text-center">Intereses</th>
                  <th class="text-center">Foto de perfil</th>
                </tr>
              </thead>
              <tbody >
                <tr ng-repeat="x in user">
                  <td class="text-center" style="vertical-align:middle">{{ x.id }}</td>
                  <td class="text-center" style="vertical-align:middle">{{ x.name }}</td>
                  <td class="text-center" style="vertical-align:middle">{{ x.email }}</td>
                  <td class="text-center" style="vertical-align:middle">{{ x.alias }}</td>
                  <td class="text-center" style="vertical-align:middle">{{ x.age }}</td>
                  <td class="text-center" style="vertical-align:middle">{{ x.sex }}</td>
                  <td class="text-center" style="vertical-align:middle"><ul ng-repeat="i in x.interests">
                    <li>{{i.category}} - {{ i.value }}</li>
                  </ul></td>
                  <td class="text-center" style="vertical-align:middle"> <img class="img-thumbnail img-responsive" src="data:image/png;base64,{{ x.photo_profile }}" alt="no_photo" style="width:200px; height:auto;"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="container" ng-show="showMe_error">
          <p class="bg-danger">Usuario no encontrado.</p>
        </div>
      </form>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 Taller de programacion II. &middot; <a href="http://www.7552.fi.uba.ar/">Cátedra</a> &middot; <a href="https://drive.google.com/open?id=144GVnoWe4m9Kgcws2r8ZRZdRQm4i0yN8DmTPEqreVYE">Terms</a></p>
    </div>
  </footer>
</body>
</html>
